@using Epicodemon.Models


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="~/css/styles.css" rel="stylesheet" type="text/css">
  <link href="~/css/animate.css" rel="stylesheet" type="text/css">

  <script src="~/js/jquery-3.3.1.js"></script>
  <script src="~/js/scripts4.js"></script>

  <title>Epicodemon</title>

</head>
<body class="homeindex">
  <div class="container">

    <table>
      <tr>
        <td>
          <div class="enemyStatus">
            <div class="well">
              <h3>@Model["computer"].GetBattleName()</h3>
              <h3>Level: @Model["computer"].GetLevel()</h3>
              <div class="progress">
                <div class="progress-bar enemy-bar-initial" role="progressbar" style="width:@Model["computer"].GetLastHitpointsPercent()%">
                </div>
                <div class="progress-bar enemy-bar initial-hidden" role="progressbar" style="width:@Model["computer"].GetHitpointsPercent()%">
                </div>
              </div>
              <h3 class="enemy-bar-initial">HP: @Model["computer"].GetLastHitpoints()/@Model["computer"].GetTotalHitpoints()</h3>
              <h3 class="enemy-bar initial-hidden">HP: @Model["computer"].GetHitpoints()/@Model["computer"].GetTotalHitpoints()</h3>
            </div>
          </div>
        </td>
        <td>
          <div class="enemySprite">
            <img src="~/img/@Model["computer"].GetBattleName()Pic.png" alt="" width="500px">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="fighterSprite">
            <img src="~/img/@Model["player"].GetBattleName()Pic.png" alt="" width="300px">
          </div>
        </td>
        <td>
          <div class="fighterStatus">
            <div class="well">
              <h3>@Model["player"].GetBattleName()</h3>
              <h3>Level: @Model["player"].GetLevel()</h3>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:@Model["player"].GetHitpointsPercent()%">
                </div>
              </div>
              <h3>HP: @Model["player"].GetHitpoints()/@Model["player"].GetTotalHitpoints()</h3>
            </div>
          </div>
        </td>

    </table>
    <div class="menu">
      <div class="well">
        <div class="player-move5 animated bounceIn battleattack">@Model["player"].GetBattleName() used @Model["usedMove"].GetMoveName()</div>
        @foreach(var message in Model["turnMessages"])
        {
          <span class="initial-hidden player-second battletext">@Html.Raw(@message.GetMessageName())</span>
        }

      </div>
    </div>

  </div>
</body>
</html>
