@using Epicodemon.Models;

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="~/css/styles.css" rel="stylesheet" type="text/css">
  <script src="~/js/jquery-3.3.1.js"></script>
  <script src="~/js/scripts.js"></script>
  <title>Epicodemon</title>
</head>
<body>
  <div class="container">
    <h1>Epicodex</h1>
    <h2>Create-a-Mon</h2>
    <form action="/Epicodex/Dev/AddMon" method="post">
      <label for="monname">Name</label>
      <input name="monname" type="text" class="form-control" required>
      <label for="monlevel">Level</label>
      <input name="monlevel" type="number" class="form-control" required>
      <label for="monhp">Base Health</label>
      <input name="monhp" type="number" class="form-control" required>
      <label for="monattack">Base Attack</label>
      <input name="monattack" type="number" class="form-control" required>
      <label for="mondefense">Base Defense</label>
      <input name="mondefense" type="number" class="form-control" required>
      <label for="monspecialattack">Base Special Attack</label>
      <input name="monspecialattack" type="number" class="form-control" required>
      <label for="monspecialdefense">Base Special Defense</label>
      <input name="monspecialdefense" type="number" class="form-control" required>
      <label for="monspeed">Base Speed</label>
      <input name="monspeed" type="number" class="form-control" required>
      <br>
      <label for="montype1">Type One</label>
      <select name="montype1">
      @foreach(var type in @MonType.GetAllMonTypes())
      {
        <option value="@type.GetMonTypeName()">@type.GetMonTypeName()</option>
      }
      </select>
      <label for="montype2">Type Two</label>
      <select name="montype2">
        <option value="NOOOO">None</option>
      @foreach(var type in @MonType.GetAllMonTypes())
      {
        <option value="@type.GetMonTypeName()">@type.GetMonTypeName()</option>
      }
      </select>
      <br>
      <br>
      <h4>Select Moves</h4>
      <label for="move1">Move One</label>
      <select name="move1">
      @foreach(var move in @Move.GetAllMoves())
      {
        <option value="@move.GetMoveId()">@move.GetMoveName()</option>
      }
      </select>
      <label for="move2">Move Two</label>
      <select name="move2">
        <option value="0">None</option>
      @foreach(var move in @Move.GetAllMoves())
      {
        <option value="@move.GetMoveId()">@move.GetMoveName()</option>
      }
      </select>
      <label for="move3">Move Three</label>
      <select name="move3">
        <option value="0">None</option>
      @foreach(var move in @Move.GetAllMoves())
      {
        <option value="@move.GetMoveId()">@move.GetMoveName()</option>
      }
      </select>
      <label for="move4">Move Four</label>
      <select name="move4">
        <option value="0">None</option>
      @foreach(var move in @Move.GetAllMoves())
      {
        <option value="@move.GetMoveId()">@move.GetMoveName()</option>
      }
      </select>
      <br>
      <br>
      <button type="submit" class="btn btn-success">Add</button>
    </form>

  </div>
</body>
</html>
