<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="~/css/styles.css" rel="stylesheet" type="text/css">
  <script src="~/js/jquery-3.3.1.js"></script>
  <script src="~/js/scripts.js"></script>
  <title>Epicodemon</title>
</head>
<body class="epicodex">

  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav">
              <li><a href="/Epicodex">Epicodex</a></li>
              <li class="active"><a href="/Epicodex/Mons">Mons</a></li>
              <li><a href="/Epicodex/Moves">Moves</a></li>
          </ul>
      </div>
  </nav>

  <div class="container">
    <h1>Epicodex</h1>
    <h4>@Model["mon"].GetMonName()</h4>
    <p><img class="Epicodex-pic" src="~/img/@Model["mon"].GetMonName()Pic.png"></p>
    <ul>
      <li>Level: @Model["mon"].GetLevel()</li>
        @if(@Model["types"].Count == 2)
        {
          <li>Type: @Model["types"][0].GetMonTypeName()/@Model["types"][1].GetMonTypeName()</li>
        }
        else
        {
          <li>Type: @Model["types"][0].GetMonTypeName()</li>
        }

      <li>Base HP: @Model["mon"].GetHitpoints()</li>
      <li>Base Attack: @Model["mon"].GetAttack()</li>
      <li>Base Defense: @Model["mon"].GetDefense()</li>
      <li>Base Special Attack: @Model["mon"].GetSpecialattack()</li>
      <li>Base Special Defense: @Model["mon"].GetSpecialdefense()</li>
      <li>Base Speed: @Model["mon"].GetSpeed()</li>
    </ul>
    <h4>Moves</h4>
    <ol>
    @foreach(var move in Model["moves"])
    {
      <li>@move.GetMoveName()</li>
    }
    </ol>
    <br>
    <p><a href="/Epicodex/Mons">Back</a></p>
  </div>
</body>
</html>
